# A concrete factory configuration with 2 mines, 2 other machines, 3 belts, 1 sink.
# Limestone Mine ──── [limestone_belt] ──→ Limestone Cement ──→ [cement_belt] ──↓ 
#                                                                        Concrete Factory ──→ Sink
# Gravel Mine ────────────────────────────────────────────────→ [gravel_belt] ──↑                


[config]
warmup_duration: 1000
statistics_duration: 600

[machine]
name: Limestone Mine
output: Limestone, 60, limestone_belt
cooldown: 0

[machine]
name: Gravel Mine
output: Gravel, 60, gravel_belt
cooldown: 0

[machine]
name: Limestone Cement
input: Limestone, 20, limestone_belt
output: Cement, 10, cement_belt
cooldown: 0

[machine]
name: Concrete Factory
input: Cement, 20, cement_belt
input: Gravel, 20, gravel_belt
output: Concrete, 40, sink
cooldown: 5
